{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "padded-blocks": "off",
    "wrap-iife": "off",
    "func-names": "off"
  },
  "plugins": [
    "html"
  ]
}
