
<template id="ng-project-box">
  <link rel="stylesheet" type="text/css" href="../css/global.css">
  <link href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" rel="stylesheet"> 
  <style>
    :host {
      width: 33%;
      padding: 1rem;
      box-sizing: border-box;
    }

    button {
      color: #313131;
      min-width: 136px;
    }

    button:hover {
      background-color: var(--background-teal);
      color: white;
    }

    .proj_con {
      box-shadow: var(--shadow);
    }

    .proj_bar {
      border-bottom: 1px solid rgba(0, 0, 0, 0.117647);
      position: relative;
      display: flex;
      flex-direction: row;
    }

    .circ_button_grp {
      margin-right: 5px;
      display: inline-block;
      vertical-align: middle;
      padding: 12px 0;
    }

    .circ_button {
      cursor: pointer;
      padding: 6px 6px;
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      border: 10px;
      border-radius: 50%;
      transition: var(--transition);
    }

    .circ_button:hover {
      background-color: var(--background-teal);
      color: white;
    }

    .circ_button_text {
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
    }

    .circ_button_text > i {
      margin: 0 auto;
    }

    .proj_title {
      display: inline-block;
      vertical-align: middle;
      padding: 12px;
      flex: 1;
      display: flex;
    }

    .proj_title_text {
      display: inline-block;
      align-self: center;
      font-size: 18px;
    }

    .proj_content {
      padding: 10px;
      box-sizing: border-box;
    }

    .proj_stats {}

    .proj_stats_list {
      list-style-type: none;
      margin: 5px 0 5px 10px;
      padding: 0;
    }

    .proj_open {
      display: flex;
    }

    .proj_open > button {
      margin: 0 auto;
    }
  </style>

  <div class="proj_con ">
    <div class="proj_bar ">
      <div class="proj_title ">
        <span class="proj_title_text" id="project_title">
          Project Name
        </span>
      </div>
      <div class="circ_button_grp ">
        <div class="circ_button ">
          <div class="circ_button_text ">
            <i class="fa fa-ellipsis-h " aria-hidden="true "></i>
          </div>
        </div>
        <div class="circ_button " id="close_button">
          <div class="circ_button_text ">
            <i class="fa fa-times " aria-hidden="true "></i>
          </div>
        </div>
      </div>
    </div>
    <div class="proj_content ">
      <div class="proj_stats ">
        <ul class="proj_stats_list ">
          <li>Tables: <b>123</b></li>
          <li>Relationships: <b>143</b></li>
          <li>Avg Columns: <b>12</b></li>
        </ul>
      </div>
      <div class="proj_open ">
        <button>
          Open Project
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  (function () {
    const doc = document.currentScript.ownerDocument;
    const template = doc.querySelector('#ng-project-box');

    customElements.define('ng-project-box', class extends HTMLElement {
      constructor(props) {
        super();

        const root = this.attachShadow({ mode: 'closed' });
        const temp = document.importNode(template.content, true);

        this.props = props;
        this.root = root;

        this.root.appendChild(temp);

        this.update();

        // Action to delete this project
        this.root.querySelector('#close_button').addEventListener('click', () => {

          // Get current projects array
          const projects = store.getState().projects; // eslint-disable-line no-undef

          // Find the project that matches the name of this project and splice it from array
          projects.splice(projects.findIndex(el => el.project_name === props.project_name), 1);

          // Persist back the modified project list
          store.setState({ // eslint-disable-line no-undef
            projects,
          });
        });
      }

      update() {

        this.root.querySelector('#project_title').innerHTML = this.props.project_name;
      }
    });
  })();
</script>