<template id='ng-view-diagram'>
  <link rel='stylesheet' type='text/css' href='../css/global.css'>
  <link href='https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css' rel='stylesheet'> 
  <style>
    :host {
      position: fixed;
      top: 73px;
      bottom: 58px;
      left: 0;
      right: 0;
      z-index: 1;
    }

    button {
      color: #313131;
      min-width: 145px;
    }

    button i {
      margin-right: 0.5rem;
    }

    button:hover {
      background-color: var(--background-teal);
      color: white;
    }

    .diagram_view {
      height: 100%;
      background-color: rgba(0, 0, 0, 0.35);
      background-color: rgba(255,255,255,1);
      transition: var(--long-transition);
      opacity: 0;
    }

    .fade_in {
      opacity: 1;
    }

    .diagram_body {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 0.5rem;
      box-sizing: border-box;
    }

    .options_lane {
      padding: 1rem 0;
    }

    .diagram_lane {
      flex: 1;
    }

    .diagram_container {
      width: 100%;
      height: 100%;
      display: flex;
    }

    canvas {
      flex: 1;
      width: auto !important;
      height: auto !important;
      position: relative !important;
    }

    .back_button {
      min-width: 225px;
      margin-right: 0.75rem;
    }

    .align_right {
      text-align: right;
    }

    .layout_options {
      margin: 0.25rem 0 0.5rem 1rem;
    }

    .guide {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.9rem;
      margin-bottom: 0.25rem;
    }

    .layout_options button {
      display: inline-block;
      margin-right: 1rem;
      box-shadow: var(--shadow);
    }

    .export {
      float: right;
    }

    .divider {
      border-left: 1px solid rgba(66, 66, 66, 0.68);
      border-right: 1px solid rgba(66, 66, 66, 0.51);
      height: 36px;
      top: 15px;
      display: inline-block;
      margin-right: 1rem;
      position: relative;
    }

  </style>

  <div class='diagram_view'>
    <div class='diagram_body'>
      <div class='options_lane align_right'>
        <button class='back_button'><i class='fa fa-chevron-left' aria-hidden='true'></i>View Another Project</button>
      </div>
      <div class='diagram_lane'>
        <div class='diagram_container'>
        </div>
      </div>
      <div class='options_lane layout_options'>
        <div class='guide'>
        Layout
        </div>
        <button class='grid'>Grid</button>
        <button class='directed'>Force-Directed</button>
        <button class='circular'>Circular</button>
        <button class='digraph'>Layered Digraph</button>
        <div class='divider'></div>
        <button class='clustered'>Abstract View</button>
        <button class='export'>Export</button>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-undef, comma-dangle, no-restricted-syntax */

  (function () {
    const doc = document.currentScript.ownerDocument;
    const template = doc.querySelector('#ng-view-diagram');

    customElements.define('ng-view-diagram', class extends HTMLElement {
      constructor(props) {
        super();

        const root = this.attachShadow({ mode: 'closed' });
        const temp = document.importNode(template.content, true);

        this.props = props;
        this.root = root;

        this.root.appendChild(temp);

        // Store state about this diagram view
        this.state = {
          layout: 'directed',
          hidden: []
        };

        // Fade-in handler
        setTimeout(() => {

          this.root.querySelector('.diagram_view').classList.add('fade_in');
        }, 10);

        // Load all button event handleres in this page
        this.assignButtonHandlers();

        // Initial load
        this.update(0);
      }

      // Return current layout being used
      get layout() {

        switch (this.state.layout) {
          case 'grid':
            return $(go.GridLayout, { comparer: go.GridLayout.smartComparer });
          case 'digraph':
            return $(go.LayeredDigraphLayout);
          case 'circular':
            return $(go.CircularLayout);
          default:
            return $(go.ForceDirectedLayout);
        }
      }

      // List of colors used by the page
      get brushes() { // eslint-disable-line class-methods-use-this

        return {
          white: '#ffffff',
          lightblue: '#98bfda'
        };
      }

      /**
        * Converts the NexGen data structure received from the server to the expected
        * goJS data structure. Also adds colors, keys, text, etc.
        */
      get entityNodes() {

        const relationships = [];
        const nodes = [];

        for (const table of this.props.tables) {

          const items = [];

          for (const column of table.columns) {

            items.push({ name: column.column_name, iskey: false, figure: 'Decision', color: '#009688' });
          }

          nodes.push({ key: table.table_name, items });

          for (const relation of table.relationships) {

            relationships.push({ from: table.table_name, to: relation.table_name, text: '', toText: '' });
          }
        }

        return { nodes, relationships };
      }


  // Update the diagram view if it has changes
      update(x) {
        if (x === 0) {
        // Initializes the goJS canvas and templates
          this.initializeDiagram();
        } else {
          this.abstractDiagram();
        }
      }

      assignButtonHandlers() {

        this.root.querySelector('.grid').addEventListener('click', () => {

          this.state.layout = 'grid';

          this.update(0);
        });

        this.root.querySelector('.circular').addEventListener('click', () => {

          this.state.layout = 'circular';
          this.update(0);
        });

        this.root.querySelector('.digraph').addEventListener('click', () => {

          this.state.layout = 'digraph';
          this.update(0);
        });

        this.root.querySelector('.directed').addEventListener('click', () => {

          this.state.layout = 'directed';
          this.update(0);
        });

        this.root.querySelector('.export').addEventListener('click', () => {

          const serialized = new XMLSerializer().serializeToString(
            this.diagram.makeSvg({ scale: 1 })
            );

          const data = `data:image/svg+xml;base64,${window.btoa(serialized)}`;

          window.open(data, '_blank');
        });

        this.root.querySelector('.clustered').addEventListener('click', () => {
          this.update(1);
        });

        // Event handler for leaving this page
        this.root.querySelector('.back_button').addEventListener('click', () => {

          this.root.querySelector('.diagram_view').classList.remove('fade_in');

          setTimeout(() => {

            this.remove();
          }, 350);
        });
      }

      hideNode(e, button) {

        // Get key for root node
        const key = button.part.data.key;

        // Find node by key and make invisible
        this.diagram.findNodeForKey(key).visible = false;
      }

      // Search for related nodes and make them visible + bring into view
      bringRelatedNodesIntoView(e, button) {

        const key = button.part.data.key;

        const primaryNode = this.diagram.findNodeForKey(key);

        for (const table of this.props.tables) {

          for (const relation of table.relationships) {

            // External node that has a relation to ours
            if (relation.referenced_table_name === key) {

              const node = this.diagram.findNodeForKey(relation.table_name);

              node.visible = true;
              // node.move(primaryNode.location);
            }

            // Our node has a relation to an external node
            if (relation.table_name === key) {

              const node = this.diagram.findNodeForKey(table.table_name);

              node.visible = true;
              // node.move(primaryNode.location);
            }
          }
        }

        // The move function will bring all related nodes close to this one and into view
        primaryNode.move(primaryNode.location);

        // Force a re-layout
        this.diagram.layout.invalidateLayout();
      }

// Getters
      get linkTemplate() { // eslint-disable-line class-methods-use-this
        return $(go.Link,
          {
            selectionAdorned: true,
            layerName: 'Foreground',
            reshapable: true,
            routing: go.Link.AvoidsNodes,
            corner: 5,
            curve: go.Link.JumpOver
          },

            $(go.Shape, { stroke: '#303B45', strokeWidth: 2.5 }),

              $(go.TextBlock,
                {
                  textAlign: 'center',
                  font: 'bold 14px sans-serif',
                  stroke: '#1967B3',
                  segmentIndex: 0,
                  segmentOffset: new go.Point(NaN, NaN),
                  segmentOrientation: go.Link.OrientUpright
                },
              new go.Binding('text', 'text')
              ),
          $(go.TextBlock,
            {
              textAlign: 'center',
              font: 'bold 14px sans-serif',
              stroke: '#1967B3',
              segmentIndex: -1,
              segmentOffset: new go.Point(NaN, NaN),
              segmentOrientation: go.Link.OrientUpright
            },
            new go.Binding('text', 'toText')
          ) // End textblock
        ); // End template
      }

      get nodeTemplate() {
        return $(go.Node,
            'Auto',
          {
            selectionAdorned: true,
            resizable: false,
            fromSpot: go.Spot.AllSides,
            toSpot: go.Spot.AllSides,
            isShadowed: true,
            shadowColor: '#C5C1AA'
          },
            new go.Binding('location', 'location').makeTwoWay(),
            $(go.Shape, 'Rectangle', { fill: this.brushes.lightblue, stroke: '#756875', strokeWidth: 3 }),
            $(go.Panel, 'Table',
              {
                stretch: go.GraphObject.Fill
              },
              $(go.RowColumnDefinition, { row: 0, sizing: go.RowColumnDefinition.None }),
              $(go.Panel, 'Auto',
                { row: 0 },
                $(go.Shape, {
                  fill: this.brushes.lightblue,
                  stroke: null,
                  stretch: go.GraphObject.Horizontal
                }),
                $(go.Panel, 'Horizontal', {},
                  $(go.TextBlock,
                    {
                      name: 'LIST',
                      alignment: go.Spot.Center,
                      margin: new go.Margin(5, 20, 5, 20),
                      font: 'bold 16px sans-serif',
                      stretch: go.GraphObject.Horizontal
                    },
                    new go.Binding('text', 'key')
                  ),
                  $('Button',
                    {
                      click: (e, button) => this.hideNode(e, button),
                      alignment: go.Spot.TopRight
                    },
                    $(go.TextBlock, 'X',
                      { font: 'bold 10pt sans-serif', desiredSize: new go.Size(15, 15), textAlign: 'center' }
                    )
                  ),
                  $('Button',
                    {
                      click: (e, button) => this.bringRelatedNodesIntoView(e, button),
                      alignment: go.Spot.TopRight
                    },
                    $(go.TextBlock, '+',
                      { font: 'bold 10pt sans-serif', desiredSize: new go.Size(15, 15), textAlign: 'center' }
                    )
                  )
                )
              ),
              $(go.Panel, 'Table',
                { row: 1, stretch: go.GraphObject.Horizontal },
                $(go.Shape, 'Rectangle', { fill: this.brushes.white, stroke: null, stretch: go.GraphObject.Fill, row: 0 }),
                $(go.Panel, 'Vertical',
                  { margin: new go.Margin(5), row: 0, stretch: go.GraphObject.Horizontal },
                  $('PanelExpanderButton', 'LIST2', { alignment: go.Spot.TopRight })
                ),
                $(go.Panel, 'Auto', { row: 1, name: 'LIST2', stretch: go.GraphObject.Fill, visible: false },
                  $(go.Shape, 'Rectangle', { fill: this.brushes.white, stroke: null, stretch: go.GraphObject.Fill }),
                  $(go.Panel, 'Vertical',
                    {},
                    {
                      padding: 3,
                      alignment: go.Spot.TopLeft,
                      defaultAlignment: go.Spot.Left,
                      stretch: go.GraphObject.Horizontal,
                      itemTemplate: this.itemTemplate,
                    },
                    new go.Binding('itemArray', 'items')
                  )
                )
              )
            )
          ); // End template
      }

      get itemTemplate() { // eslint-disable-line class-methods-use-this
        return $(go.Panel,
            'Horizontal',
            $(go.Shape,
              { desiredSize: new go.Size(10, 10) },
              new go.Binding('figure', 'figure'),
              new go.Binding('fill', 'color')
            ),
            $(go.TextBlock,
              {
                stroke: '#333333',
                font: 'bold 14px sans-serif',
                margin: new go.Margin(0, 0, 0, 5),
              },
              new go.Binding('text', 'name')
            )
          );
      }

      initializeDiagram() {

        // If the diagram already exists, overwrite the container div
        if (this.diagram) {
          this.root.querySelector('.diagram_lane').innerHTML = "<div class='diagram_container'></div>";
        }

        setTimeout(() => {

          // Initialize the goJS canvas
          this.diagram = $(go.Diagram,
            this.root.querySelector('.diagram_container'),
            {
              initialContentAlignment: go.Spot.Center,
              allowDelete: false,
              allowCopy: false,
              layout: this.layout,
              'undoManager.isEnabled': true,
            }
          );

          this.diagram.itemTemplate = this.itemTemplate;
          this.diagram.nodeTemplate = this.nodeTemplate;
          this.diagram.linkTemplate = this.linkTemplate;
          const entities = this.entityNodes; // This is a function call
          this.diagram.model = new go.GraphLinksModel(entities.nodes, entities.relationships);

        }, 10);
      }

      abstractDiagram() {
        const nodeDataArray = [
          { key: 'R1', group: 'AE1' },
          { key: 'R2', group: 'AE1' },
          { key: 'R3', group: 'AE1' },
          { key: 'R6', group: 'AE1' },
          { key: 'R7', group: 'AE1' },
          { key: 'R8', group: 'AE1' },
          { key: 'AE1', isGroup: true },
          { key: 'R4', group: 'AE2' },
          { key: 'R5', group: 'AE2' },
          { key: 'R10', group: 'AE2' },
          { key: 'AE2', isGroup: true, shape: 'Diamond' },
          { key: 'R7', group: 'AE3' },
          { key: 'R9', group: 'AE3' },
          { key: 'R11', group: 'AE3' },
          { key: 'AE3', isGroup: true },
        ];
        const linkDataArray = [
          { from: 'AE1', to: 'AE2' },
          { from: 'AE2', to: 'AE3' },
        ];

         // If the diagram already exists, overwrite the container div
        if (this.diagram) {
          this.root.querySelector('.diagram_lane').innerHTML = "<div class='diagram_container'></div>";
        }

        setTimeout(() => {
          // Initialize the goJS canvas
          this.diagram = $(go.Diagram,
            this.root.querySelector('.diagram_container'),
            {
              initialContentAlignment: go.Spot.Center,
              allowDelete: false,
              allowCopy: false,
              layout: this.layout,
              'undoManager.isEnabled': true,
            }
          );

          this.diagram.nodeTemplate =
            $(go.Node, 'Auto',
              { desiredSize: new go.Size(100, 50) },
              $(go.Shape, 'Ellipse',
                { fill: 'white', name: 'SHAPE', margin: 0 }
              ),
                $(go.TextBlock,
                  new go.Binding('text', 'key')
                ),
                  $('Button',
                    { alignment: go.Spot.TopRight, desiredSize: new go.Size(15, 15) },
                    $(go.Shape, 'AsteriskLine'),
                      { click: (e, obj) => this.changeCategory(e, obj) }
                  )
            );

          this.diagram.groupTemplate =
            $(go.Group, 'Auto',
              { isSubGraphExpanded: false, },
              $(go.Shape, 'Rectangle',
                { fill: null, stroke: 'gray', strokeWidth: 2 },
                new go.Binding('figure', 'shape')),
                $(go.Panel, 'Vertical',
                  { defaultAlignment: go.Spot.Right, margin: 4 },
                  $(go.Panel, 'Horizontal',
                    { defaultAlignment: go.Spot.Top },
                // the SubGraphExpanderButton is a
                // panel that functions as a button to expand or collapse the subGraph
                  $('SubGraphExpanderButton',
                    { alignment: go.Spot.TopRight, desiredSize: new go.Size(15, 15) }
                  ),
                  $('Button',
                    {
                      click: (e, obj) => {
                        const key = obj.part.data.key;
                        const diagram = obj.diagram;
                        const node = diagram.findNodeForKey(key);

                        diagram.currentTool = diagram.toolManager.textEditingTool;

                        diagram.toolManager.textEditingTool.textBlock = node.findObject('edit');
                        diagram.toolManager.textEditingTool.doStart();
                      },
                      alignment: go.Spot.TopRight
                    },

                      $(go.TextBlock, '...',
                        { font: 'bold 9pt sans-serif', desiredSize: new go.Size(9, 9), textAlign: 'center' }
                      )
                    )
                  ),

                  $(go.TextBlock,
                    { editable: true, verticalAlignment: go.Spot.Center, font: 'Bold 20px Sans-Serif', name: 'edit' },
                      new go.Binding('text', 'key')
                    ),
                  // create a placeholder to represent the area where the contents of the group are
                  $(go.Placeholder,
                    { padding: new go.Margin(0, 10) }
                  )
                )  // end Vertical Panel
              );  // end Group

          this.diagram.model = new go.GraphLinksModel(nodeDataArray, linkDataArray);
        }, 10);
      }
    });
  })();
</script>